#posts {
  input {
    border-radius: 2px;
    border: 1px solid rgba(109, 110, 118, 0.5);
    padding: 24px;
    color: var(--Black, #232536);

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-top: 64px;
    margin-bottom: 54px;
    width: 95%;
  }
  h1 {
    color: var(--Black, #232536);

    /* Heading H1 */
    font-family: Sen;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
    letter-spacing: -2px;
    padding-bottom: 32px;
  }
  .hr {
    opacity: 0.32;
    background: #6d6e76;
    margin-bottom: 64px;
  }
  .post-card {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 36px;
    margin-bottom: 64px;
    @media (max-width: 600px){
      grid-template-columns: repeat(1,1fr);
    }
  }
  img {
    width: 100%;
    height: 318px;
    object-fit: fill;
  }
  .blogcha {
    h5 {
      color: var(--Purple, #592ea9);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px; /* 125% */
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    h3 {
      color: var(--Black, #232536);

      /* Heading H2 */
      font-family: Sen;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 133.333% */
      letter-spacing: -2px;
      padding-top: 20px;
      padding-bottom: 16px;
    }
    p {
      color: var(--Medium-grey, #6d6e76);

      /* Body 1 */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }
  }
}
.none{
   display: none;
}

.pagination{
   display: flex;
   justify-content: end;
   gap: 5px;
   margin-bottom: 20px;
   .page-link{
      background-color: rgba(0, 0, 255, 0.3);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      &:hover{
         background-color: aqua;
      }
   }
   .active{
      color: #ffffff;
      background-color: blueviolet;
      margin-top: -10px;
      padding: 10px 0 !important;
      border-radius: 10px !important;
      cursor: pointer;
   }
}

